In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/brendanvote.csv')
df.rename(columns={'filenumber': 'id', 'Appoinment Date': 'CreatedDate'}, inplace=True)
new_df = id_cleaner(df)
#new_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace = True)
ndf = time_sort(new_df)
ndf.to_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/brendanvote.csv')

In [20]:
new_df.head()

,id,Appointment Type,CreatedDate,IDDM/NIDDM,VA,Drug,Laterality,Diagnosis Date?,bookingid,Location,Procedure Laterality,Comments
3248,0,1,20/4/17,IDDM,74.8,NaN,Left,29/10/2019,632440.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3249,0,LUCEN,20/4/17,IDDM,74.8,NaN,Left,29/10/2019,634534.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3250,0,LUCEN,18/5/17,IDDM,NaN,NaN,Left,29/10/2019,634552.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3251,0,IVT,8/6/17,IDDM,80.0,NaN,Left,29/10/2019,629495.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3252,0,IVT,10/8/17,IDDM,80.0,NaN,Left,29/10/2019,643260.0,Launceston Eye Institute ULVERSTONE,NaN,NaN

In [11]:
def id_cleaner(df):
    id_list = df.id.unique()
    frames = []
    i = 0
    for eye in id_list:
        pdf = df[df.id == eye]
        pdf_left = pdf[pdf.Laterality == 'Left']
        pdf_right = pdf[pdf.Laterality == 'Right']
        pdf_left.id = i
        pdf_right.id = i + 1
        i += 2
        if len(pdf_left) != 0:
            frames.append(pdf_left)
        if len(pdf_right) != 0:
            frames.append(pdf_right)
    return pd.concat(frames)

In [14]:
def time_sort(df):
    id_list = df.id.unique()
    frames = []
    for eye in id_list:
        pdf = df[df.id == eye]
        pdf.CreatedDate = pd.to_datetime(pdf.CreatedDate, dayfirst=True)
        pdf.sort_values(by='CreatedDate', inplace=True)
        frames.append(pdf)
    return pd.concat(frames)

In [16]:

ndf = time_sort(df)
ndf.to_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/ericmayer.csv')

In [21]:
ndf = time_sort(new_df)
ndf.head()

,id,Appointment Type,CreatedDate,IDDM/NIDDM,VA,Drug,Laterality,Diagnosis Date?,bookingid,Location,Procedure Laterality,Comments
3248,0,1,2017-04-20,IDDM,74.8,NaN,Left,29/10/2019,632440.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3249,0,LUCEN,2017-04-20,IDDM,74.8,NaN,Left,29/10/2019,634534.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3250,0,LUCEN,2017-05-18,IDDM,NaN,NaN,Left,29/10/2019,634552.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3251,0,IVT,2017-06-08,IDDM,80.0,NaN,Left,29/10/2019,629495.0,Launceston Eye Institute ULVERSTONE,NaN,NaN
3252,0,IVT,2017-08-10,IDDM,80.0,NaN,Left,29/10/2019,643260.0,Launceston Eye Institute ULVERSTONE,NaN,NaN