In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/DME_Eric.csv')
df.rename(columns={'Patient::PatientBCID': 'id'}, inplace=True)
new_df = id_cleaner(df)
#new_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace = True)
new_df.to_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/ericmayer.csv')

In [3]:
def id_cleaner(df):
    id_list = df.id.unique()
    frames = []
    i = 0
    for eye in id_list:
        pdf = df[df.id == eye]
        pdf_left = pdf[pdf.Laterality == 'Left']
        pdf_right = pdf[pdf.Laterality == 'Right']
        pdf_left.id = i
        pdf_right.id = i + 1
        i += 2
        if len(pdf_left) != 0:
            frames.append(pdf_left)
        if len(pdf_right) != 0:
            frames.append(pdf_right)
    return pd.concat(frames)

In [13]:
def time_sort(df):
    id_list = df.id.unique()
    frames = []
    for eye in id_list:
        pdf = df[df.id == eye]
        pdf.CreatedDate = pd.to_datetime(pdf.CreatedDate, dayfirst=True)
        pdf.sort_values(by='CreatedDate', inplace=True)
        frames.append(pdf)
    return pd.concat(frames)

In [15]:
df = pd.read_csv('/home/jupyter/charliemacuject/pharma_reports/data/DME/ericmayer.csv')
ndf = time_sort(df)
ndf.head(20)

,Unnamed: 0,id,CreatedDate,Laterality,visual_acuity,InjToday,InjNext,NextInt,Unnamed: 7,Unnamed: 8
0,0,0,2016-10-18,Left,89.0,NaN,NaN,NaN,NaN,NaN
1,1,0,2017-01-24,Left,94.0,NaN,NaN,NaN,NaN,NaN
2,2,0,2017-07-17,Left,89.0,NaN,NaN,NaN,NaN,NaN
3,3,0,2018-06-14,Left,89.0,NaN,NaN,NaN,NaN,NaN
4,4,0,2019-02-07,Left,94.0,NaN,NaN,NaN,NaN,NaN
5,5,0,2019-02-15,Left,89.0,NaN,NaN,NaN,NaN,NaN
6,6,0,2019-03-15,Left,89.0,NaN,NaN,NaN,NaN,NaN
7,7,0,2019-04-16,Left,94.0,NaN,NaN,NaN,NaN,NaN
8,8,0,2019-06-12,Left,94.0,NaN,NaN,NaN,NaN,NaN
9,9,0,2019-09-17,Left,94.0,NaN,NaN,NaN,NaN,NaN
10,10,0,2019-12-03,Left,94.0,NaN,NaN,NaN,NaN,NaN
11,11,0,2019-12-23,Left,89.0,Lucentis,Lucentis,3,NaN,NaN
12,12,0,2020-01-24,Left,89.0,NaN,Lucentis,NaN,NaN,NaN
13,13,0,2020-02-11,Left,89.0,NaN,NaN,NaN,NaN,NaN
14,14,0,2020-03-16,Left,80.0,NaN,Lucentis,4,NaN,NaN
15,15,0,2020-04-28,Left,85.0,NaN,NaN,NaN,NaN,NaN
16,16,0,2020-07-28,Left,85.0,NaN,NaN,NaN,NaN,NaN
17,17,0,2020-08-18,Left,89.0,NaN,NaN,NaN,NaN,NaN
18,18,0,2020-10-29,Left,85.0,NaN,NaN,NaN,NaN,NaN
19,19,0,2020-11-20,Left,85.0,NaN,NaN,NaN,NaN,NaN